/* Le code CSS spécifique à la page de documentation */
body{
    font-family: var(--);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    background-color: blu;
  }
  
  .header__nav{
    padding : 20px; 
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__menu{
    display: flex;
    gap: 20px;
  }
  
  .header__menu li{
    font-weight: 500;
    font-size: 16px;
    font-family: var(--lexend-deca);
  
    list-style-type: none;
  
    cursor: pointer;
  }
  