#slogan {
    background-image: url(assets/bg.svg);
    padding: 100px 20px; 
    text-align: center; 
    height: 100dvh;
    position: relative;

    display: flex;
}

.slogan {
    max-width: 800px; 
    margin: 0 auto; 
}

#slogan h1 {
    font-size: 3.2rem;
    line-height: 4.3rem;

    animation: fadeIn 2s ease-in-out;

    z-index: 3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#slogan img{
    position: absolute;
    width: 65vw;
    bottom: -33px;
    left: 0;
}

#contexte{
    background-image: url(assets/Feu-de-forêt.svg);
    background-size: 93vh;
    background-position: right -7% bottom 93%;
    background-repeat: no-repeat;
    padding: 2rem 0;
    width: 218vh;
    position: relative;
}

.contexte__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    color: var(--white);
}

.contexte__texte {
    flex: 1;
    max-width: 774px;
}

.contexte__texte h1 {
    margin-bottom: 1rem;
    font-size: 10vh;

    display: flex;
    justify-content: flex-start;
}

.contexte__texte h2 {
    margin: 1.5rem 0 1rem;
    font-size: 5vh;
}

.contexte__texte p {
    margin-bottom: 1rem;
    margin-left: 0;
    font-size: 2.6vh;
    font-weight: 400;
}

.technologies__utilisees {
    padding: 4rem 0;
    background-color: var(--lisibilité-beige);
    text-align: center;
}

.container {
    width: 200vh;
    margin: 0 auto;
    padding: 0 1rem 0 6rem;
}

.mission{
    padding: 50px 20px; 
    text-align: center; 
}

.mission h3{
    max-width: 800px; 
    margin: 0 auto; 
}

.mission h3 strong{
    font-size: 5vh;
}

#cibles {
    background-color: var(--black);
    padding: 4rem 2rem;
    color: var(--white);
}

#cibles h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--white);
}

#cibles p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 3rem;
    color: var(--white);
    line-height: 1rem;
}

.personas {
    height: 50vh;
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    gap: 1.5rem;
    cursor: pointer;
}

.persona {
    flex: 1;
    background-color: var(--white);
    border-radius: 12px;
    color: var(--black);
    text-align: center;
    box-shadow: 0 4px 8px var(--prevention-yellow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.persona:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px var(--prevention-yellow);
}

.persona img {
    width: 22vw; 
    height: 30vh;
    object-fit: cover; 
    overflow: hidden;
}

.persona h3 {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.personas p {
    font-size: 0.8rem !important;
    font-weight: 400;
    color: var(--black) !important;
    line-height: 1.6;
    padding: 0rem 2rem 2rem 2rem;
    margin-bottom: 0 !important;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}
ul{
    list-style: none;
    font-size: larger;
    width: 400px;
}
img{
    width: 597px;
}
div.text-persona{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 1000px;
    font-size: larger;
}
    div.persona2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #FFDE59;
    border-color: black;
}
div.persona{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-weight: 800;
    margin: 10px;
}
blockquote{
    font-weight: 800;
}
h2{
    font-weight: 900;
    font-size: 29px;
}
   h1{
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}
ul{
    list-style: none;
    font-size: larger;
    width: 400px;
}

img{
    width: 597px;
}

div.text-persona{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 1000px;
    font-size: larger;
}

div.persona2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: var(--prevention-yellow);
    border-color: black;
}

div.persona{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-weight: 800;
    margin: 10px;
}
blockquote{
    font-weight: 800;
}

h2{
    font-weight: 900;
    font-size: 29px;
}
   
h1{
    display: flex;
    justify-content: center;
}


#evolutions {
    background-color: var(--lisibilité-beige);
    padding: 4rem 2rem;
    text-align: center;
}

#evolutions h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    line-height: var(--line-height-h1);
    margin-bottom: 1rem;
    color: var(--black);
}

#evolutions p {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    max-width: 800px;
    margin: 0 auto 3rem;
    color: var(--black);
}

.evolutions__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem; 
}

.evolution {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.evolution:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.evolution img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover; 
    overflow: hidden;
}

.evolution h2 {
    font-size: var(--font-size-h2);
    margin-bottom: 1rem;
}

.evolution__texte ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evolution__texte ul li {
    font-family: 'lexend deca';
    font-size: 1rem !important;
    line-height: 1.6rem;
    color: var(--black);
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 2rem 0rem 2rem;
}

.evolution__texte ul li::before {
    font-size: 1rem;
    color: var(--Serenite-green);
}


.technologies__utilisees h1 {
    font-family: var(--font-title);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    color: var(--black);
    margin-bottom: 1rem;
}

.technologies__utilisees .subtitle {
    font-family: var(--font-body);
    font-size: var(--font-size-p);
    color: var(--black);
    width: 100vh;
    margin: 0 auto 3rem auto;
    line-height: var(--line-height-p);
}

.technologie__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.technologie__card {
    width: 58vw;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.technologie__card.reverse {
    flex-direction: row-reverse;
    margin-left: 20vw;
}

.technologie__icon img {
    height: 30vh;
    object-fit: contain;
}

.technologie__content {
    text-align: left;
}

.technologie__content h3 {
    font-family: var(--font-title);
    font-size: 20px;
    font-weight: var(--font-weight-h3);
    color: var(--black);
    margin-bottom: 0.5rem;
}

.technologie__content p {
    font-size: 13px;
}

.technologies__choix {
    display: flex;
    align-items: flex-start; 
    gap: 4rem; 
    max-width: 1200px; 
    margin: 0 2rem;
    padding: 4rem 0; 
}

.technologies__choix h1 {
    flex: 1; 
    font-size: 3.5rem; 
    line-height: 1.1;
    color: var(--black);
    margin-bottom: 0; 

    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

.technologies__choix p {
    flex: 2; 
    margin-bottom: 1.5rem; 
}

.technologies__choix p strong {
    color: var(--confiance-blue); 
}

@media (max-width: 768px) {
    .technologies__choix {
        flex-direction: column; 
        gap: 2rem;
    }

    .technologies__choix h1 {
        font-size: var(--font-size-h1); 
    }
}

#quiz-section {
    text-align: center;
    padding: 2em 1em;
    max-width: 900px;
    margin: 0 auto;
}
  
#quiz-section h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5em;
    color: #333; 
}
  
#quiz-section p {
    max-width: 600px;
    margin: 0.5em auto 1.5em;
    line-height: 1.5;
    font-size: 1rem;
    color: #000000;
}

#quiz-section iframe {
    display: block;
    width: 80%;              
    height: 600px;           
    margin: 0 auto;
    border: none;          
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#quiz-section .cta {
    margin-top: 2em;
}

#quiz-section .cta a {
    background-color:#FFDE59; 
    color: black;               
    padding: 0.75em 1.5em;
    text-decoration: none;
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: var(--font-weight-h3);
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

#quiz-section .cta a:hover {
    background-color: #feda4a;
    transform: scale(1.05);
    cursor: pointer;
}

#equipes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equipe {
    background-color: var(--black);
    padding: 4rem 2rem;
    text-align: center;
}

.equipe__intro h1 {
    color: var(--white);
    margin-bottom: 0.5rem;
}

.equipe__intro p {
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
}

.equipe__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.equipe__card {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--prevention-yellow);

    padding: 1.5rem;
    text-align: center;

    transition: transform 0.3s ease;
}

.equipe__card:hover {
    transform: translateY(-10px);
}

.equipe__photo {
    width: 100px;
    height: 100px;

    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.equipe__card h3 {
    margin-bottom: 0.5rem;
}

.equipe__card p {
    margin-bottom: 1rem;
}

.equipe__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-btn {
    font-family: var(--font-body);
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--black);

    background-color: var(--prevention-yellow);
    border-color: var(--prevention-yellow);
    padding: 0.5rem 1rem;
    border-radius: 20px;

    transition: background-color 0.3s ease;
}

.social-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    background-image: url(assets/Footer.svg);
    background-size: 218vh;
    background-position: right 18% bottom 0%;
    background-repeat: no-repeat;
    
    padding: 4rem 2rem;
    font-family: var(--font-body);
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--white);
}

.footer__left {
    flex: 1;
    min-width: 300px;
    background-color: rgba(21, 21, 21, 0.9); 
    padding: 2rem; 
    border-radius: 10px;
}

.footer__left h2 {
    margin-bottom: 1.5rem;
    color: var(--white);
}

.footer__features {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.footer__features li {
    margin-bottom: 0.5rem;
}

.footer__cta {
    margin-bottom: 1.5rem;
    color: var(--white);
}

.footer__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__button img {
    width: 150px; 
    height: auto;
    transition: transform 0.3s ease;
}

.footer__button img:hover {
    transform: scale(1.05); 
}

.footer__right {
    flex: 1;
    min-width: 300px;
    background-color: rgba(21, 21, 21, 0.9); 
    padding: 2rem; 
    border-radius: 10px;
}

.footer__right h2 {
    margin-bottom: 1.5rem;
    color: var(--white);
}

.footer__news {
    color: var(--white);
    margin-bottom: 1.5rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.footer__social img {
    width: 40px; 
    height: auto;
    transition: transform 0.3s ease;
}

.footer__social img:hover {
    transform: scale(1.1); 
}