/* Le code CSS spécifique à la page d'accueil */

.fonctions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 150px 0px 200px 0px;
}

.fonction__text{
    width: 40vw;
}

/* .fonctions img{
    width: 200px;
    height: 400px;
} */

.partenaires img{
    width: 40vw;
    height:50vh
}