/* Le code CSS spécifique à la page d'accueil */

.fonctionalites{
    display: flex;
}

.fonction__map{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fonction-text{
    width: 40vw;
}

.fonction-appel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fonction-former{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}